# Python
__pycache__/
*.pyc

# OS/Editor files
.DS_Store
*.swp

# Chrome & Selenium binaries
chromedriver*
*.zip
*.rpm
*.deb

# Logs
*.log
nohup.out

# Local test files (optional)

# Virtual environment (if used)
venv/
.env/

